<load target="../../member/skins/default/css/member.css" />
<include target="../../member/skins/default/common_header.html" />

<div class="xm">
	<h1>{$lang->cmd_pick_log_title}</h1>

	<block cond="$pick_logs && count($pick_logs)">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{$lang->cmd_pick_srl}</th>
					<th>{$lang->cmd_pick_document}</th>
					<th>{$lang->cmd_pick_comment}</th>
					<th>{$lang->cmd_pick_comment_author}</th>
					<th>{$lang->cmd_pick_comment_content}</th>
					<th>{$lang->cmd_pick_date}</th>
				</tr>
			</thead>
			<tbody>
				<tr loop="$pick_logs => $log">
					<td>{$log->pick_srl}</td>
					<td><a href="{getUrl('','document_srl',$log->document_srl)}">{$log->document_srl}</a></td>
					<td><a href="{getUrl('','document_srl',$log->document_srl,'comment_srl',$log->comment_srl)}#comment_{$log->comment_srl}">{$log->comment_srl}</a></td>
					<td>{$log->comment_nick_name|escape}</td>
					<td>{$log->comment_content|escape}</td>
					<td>{$log->regdate|date_format:'Y-m-d H:i:s'}</td>
				</tr>
			</tbody>
		</table>

		<block cond="$page_navigation">
			<div class="pagination pagination-centered">
				<ul>
					<li cond="$page_navigation->first_page < $page"><a href="{getUrl('page', 1)}">&laquo;</a></li>
					<li cond="$page_navigation->prev_page > 0"><a href="{getUrl('page', $page_navigation->prev_page)}">&lsaquo;</a></li>
					<loop var="$page_navigation->getNextPage()" key="$k" value="$v">
						<li class="active" cond="$v == $page"><span>{$v}</span></li>
						<li cond="$v != $page"><a href="{getUrl('page', $v)}">{$v}</a></li>
					</loop>
					<li cond="$page_navigation->next_page > 0"><a href="{getUrl('page', $page_navigation->next_page)}">&rsaquo;</a></li>
					<li cond="$page_navigation->last_page > $page"><a href="{getUrl('page', $page_navigation->last_page)}">&raquo;</a></li>
				</ul>
			</div>
		</block>
	</block>

	<block cond="!$pick_logs || !count($pick_logs)">
		<p>{$lang->msg_no_pick_log}</p>
	</block>
</div>
