<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<action name="dispYeokboxAdminConfig" class="Controllers\Admin" menu-name="yeokbox" admin-index="true" />
		<action name="procYeokboxAdminInsertConfig" class="Controllers\Admin" />
	</actions>
	<eventHandlers>
		<eventHandler after="document.getDocumentList" class="Controllers\EventHandlers" method="afterGetDocumentList" />
		<eventHandler after="document.updateVotedCount" class="Controllers\EventHandlers" method="afterUpdateVotedCount" />
		<eventHandler after="document.updateVotedCountCancel" class="Controllers\EventHandlers" method="afterUpdateVotedCountCancel" />
	</eventHandlers>
	<menus>
		<menu name="yeokbox" type="all">
			<title xml:lang="ko">역박스 커스텀</title>
		</menu>
	</menus>
</module>
